<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="CustomBGColor" value="#00ff00" />
	</appSettings>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=ESTACIODESA-01;Initial Catalog=AmigoIndicaEstacio;User ID=metatron;Password=Est!1234;" providerName="System.Data.SqlClient" />
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
    <customErrors mode="Off" />

    <compilation debug="true" targetFramework="4.0">
    </compilation>
    
    
    
	</system.web>
</configuration>