/* 986px */


@font-face {
    font-family: 'Museo100';
    src: url('font/museo100-regular-webfont.eot');
    src: url('font/museo100-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/museo100-regular-webfont.woff') format('woff'),
         url('font/museo100-regular-webfont.ttf') format('truetype'),
         url('font/museo100-regular-webfont.svg#museo_100regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo300';
    src: url('font/museo300-regular-webfont.eot');
    src: url('font/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/museo300-regular-webfont.woff') format('woff'),
         url('font/museo300-regular-webfont.ttf') format('truetype'),
         url('font/museo300-regular-webfont.svg#museo_100regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo500';
    src: url('font/museo500-regular-webfont.eot');
    src: url('font/museo500-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/museo500-regular-webfont.woff') format('woff'),
         url('font/museo500-regular-webfont.ttf') format('truetype'),
         url('font/museo500-regular-webfont.svg#museo_100regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo700';
    src: url('font/museo700-regular-webfont.eot');
    src: url('font/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/museo700-regular-webfont.woff') format('woff'),
         url('font/museo700-regular-webfont.ttf') format('truetype'),
         url('font/museo700-regular-webfont.svg#museo_100regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo900';
    src: url('font/museo900-regular-webfont.eot');
    src: url('font/museo900-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/museo900-regular-webfont.woff') format('woff'),
         url('font/museo900-regular-webfont.ttf') format('truetype'),
         url('font/museo900-regular-webfont.svg#museo_100regular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body
{
    margin: 0px;
    padding: 0px;
    

}

.fl
{
    float: left;
}

.fr
{
    float: right;
}

#fundoTopo
{
     background: url('../images/novo/bg-top.png') repeat-x;
    height: auto;
}

img {border:none;}

#fundoTopo2
{
    background: url('../images/novo/bg-top.png') repeat-x;
}  



#divLogo
{
    padding-left: 8px;
    padding-top: 14px;
}

#divLogo2
{
    padding-top: 16px;
}

.divloginesenha 
{
    width:284px; 
    height:90px;
    float:right;
    background: #15aebd;
}

.caixaloginesenha 
{
    width:257px;
    height:80px;
    float:left;
    margin:10px 0 0 15px;
}

.inputLogin
{
    font-size: 12px;
    color: #8d8d8d;
    font-family: Museo500, Arial, Tahoma ; ;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    height: 16px;
    width: 157px;
}

.posLogin
{
    padding-left: 27px;
    padding-top: 2px;
    height: 21px;
}

.inputSenha
{
    font-size: 12px;
    color: #8d8d8d;
    font-family: Museo500, Arial, Tahoma ; ;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    height: 16px;
    width: 157px;
}

.posSenha
{
    padding-left: 24px;
    padding-top: 2px;
    height: 21px;
}

#divLogin
{
    float:left; 
    width: 257px;
    height: 26px;
    background: url('../images/new/bg_login.jpg') no-repeat;
}

#divSenha
{
    float:left;
    width: 187px;
    height: 25px;
    background: url('../images/new/bg_senha.jpg') no-repeat;
    margin:6px 0 0 0;
}

.fonteCadastreSe
{
    font-family: Museo500, Arial, Tahoma ; 
    font-size: 11px;
    font-weight: bold;
    color: #cecf4e;
    text-decoration: none;
}

.fonteCadastreSe:hover
{
    text-decoration: underline;
}

.fonteEsqueciMinhaSenha
{
    font-family: Museo500, Arial, Tahoma ;
    font-size: 11px;
    color: #fff;
    width:250px;
    height:30px;
    text-decoration: none;
}

.fonteEsqueciMinhaSenha:hover
{
    text-decoration: underline;
}

.fonteFacaSeuLogin
{
    font-family: Museo500, Arial, Tahoma ; 
    font-size: 11px;
    color: #89a339;
    font-weight: bold;
    text-decoration: none;
}


#divTopInterna 
{
    width:100%;
    height:111px;
    margin-top:-24px;
    z-index:1;
    position:relative;
}

#divMiolo
{
    padding-top: 17px;
    width: 986px;
    text-align: left;
}

#divMioloEsquerdo
{
    width: 640px;
}

#divMioloDireito
{

    width: 320px;
    margin-top:-80px;
    margin-left: 11px;
    z-index:5;
    position:relative;
}

#bgTopoInterna 
{
    width:640px;
    height:14px;
    float:left;
}

#bgMioloInterna 
{
    width:640px;
    float:left;
}

#bgFooterInterna 
{
    width:640px;
    height:17px;
    float:left;
}

#cantoEsquerdoMioloEsquerdo
{
    height: 57px;
    width: 19px;
    background: #034168 url('../images/bordaInternaEsqSup.png') no-repeat 0px 0px;
}

#centroMioloEsquerdo
{
    height: 57px;
    width: 298px;
    background-color: #e2e41a;
}

#cantoDireitoMioloEsquerdo
{
    height: 57px;
    width: 433px;
    background: #034168 url('../images/bordaInternaDirSup.png') no-repeat;
    background-position: right top;
    text-align: right;
}

#espacamentoCentroMioloEsquerdo
{
    padding-top: 9px;
    background-color: #e2e41a;
}

.fundoCentroMioloEsquerdo
{
    background-color: #e2e41a;
    height: 9px;
    width: 200px;
}

.fundoLateralEsqMioloEsquerdo
{
    background: url('../images/bordaTituloInternaEsq.png') no-repeat;
    background-position: left bottom;
    height: 9px;
    width: 6px;
}

.fundoLateralDirMioloEsquerdo
{
    background: url('../images/bordaTituloInternaDir.png') no-repeat;
    background-position: right bottom;
    height: 9px;
    width: 6px;
}

.fonteTituloPagina
{
    font-family: Museo500, Museo500, Arial, Tahoma ; , Tahoma ; ;
    font-size: 30px;
    font-weight: bold;
    color: #434343;
    padding-top: 16px;
    padding-left: 3px;
}

.fonteRegulamentoTitulo
{
    font-family: Museo500, Arial, Tahoma ; 
    font-size: 13px;
    color: #5d5d5d;
    font-weight: bold;
    line-height: 16px;
}

.fonteRegulamentoTexto
{
    font-family: Museo500, Arial, Tahoma ;
    font-size: 12px;
    color: #5d5d5d;
    line-height: 16px;
    padding-bottom: 22px;
}

#divTexto
{
    width:100%;
    padding-top: 30px;
    padding-left: 0;
    padding-right: 22px;
    padding-bottom: 0px;
}


.fonteTituloLateral
{
    font-family: Museo500, Arial, Tahoma ; 
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 14px;
    padding-left: 10px;
}

.fonteVantagens
{
    font-family: Museo500, Museo500, Arial, Tahoma ; , Tahoma ; ;
    font-size: 15px;
    font-weight: bold;
    color: #a5bd21;
    padding-top: 16px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 16px;
}

.bordaVantagens
{
    border-bottom: 4px solid #FFFFFF;
}

.titulobannerInterna 
{
    padding-top:10px;
    font-size:18px;
    font-family:Museo500, Museo500, Arial, Tahoma ; , Tahoma ; ;
    font-weight:bold;
    color:#dbdbdb;
    background:#ffffff;
    height:28px;
}

.bannerLateral
{
    background-color: #FFFFFF;
    margin-bottom:6px;
    z-index:2;
}

.bannerLateralPrimeiro
{
    background-color: #FFFFFF;
    margin-bottom:6px;
    z-index:2;
}

#fundoRodape
{
    background: url(../Images/novo/bg-footer.jpg) repeat-x center top;
    height: auto;
    overflow: hidden;
    width: 100%;
    padding: 15px 0 7px;

}

#divRodape
{
    height: 84px;
    width: 947px; 
    text-align: left;
}

#redesRodape 
{
    width:145px;
    height:35px;
    float:right;
    margin-top:25px;

}



.separadorRodape
{
    clear: both;
    padding-top: 11px;
}

#divLogoRodape
{
    padding-top: 15px;
    padding-left: 0px;
   
}

#divLinksRodape
{
    padding-top: 16px;
    padding-left: 20px;
}

.fonteLinksRodape
{
    font-family: Museo500, Arial, Tahoma ;
    font-size: 12px;
    color: #5d5d5d;
    text-decoration: none;
}

.fonteLinksRodape:hover
{
    text-decoration: underline;
}

.fonteLinksRodapeBarra
{
    font-family: Museo500, Arial, Tahoma ; 
    font-size: 12px;
    color: #5d5d5d;
    padding-left: 12px;
    padding-right: 12px;
}

.fonteTextoIntroducaoFAQ
{
    font-size:18px; color:#abbac4; font-family: Museo700, Arial, Tahoma ; 
    padding-bottom: 20px;
}

.fonteLinkFAQ
{
    font-family: Museo500, Arial, Tahoma ;
    font-size: 12px;
    color: #032c45;
    padding-bottom: 20px;
    text-decoration: none;
    font-weight: bold;
}

.fonteLinkFAQ:hover
{
    text-decoration: underline;
}

.fonteTituloFAQ
{
    font-family: Museo500, Arial, Tahoma ; 
    font-size: 13px;
    color: #5c6e81;
    padding: 8x;
    text-decoration: none;
}

.fonteTituloFAQ:hover
{
    text-decoration: none;
}

.fonteRespostaFAQ
{
    font-family: Museo500, Museo500, Arial, Tahoma ; 
    font-size: 12px;
    color: #5c6e81;
    padding: 33px 13px 13px 50px ;
    background:url(../images/novo/bg-resposta-faq.png);
    margin-top: 1px;
    display: none;
}


.fundoTituloFAQ
{
    background-color: #cdd4dc;
    width: 100%;
    padding-left:12px;
    padding-right:6px;
}

.bordaLateralEsqTituloFAQ
{
    display: block;
    height:50px;
}

.bordaLateralDirTituloFAQ
{
    display: block;
    height:50px;
}

.bordaInfEsqTexto
{
    background: url('../images/bordaInternaEsqInf.png') no-repeat;
    background-position: left bottom;
    width: 6px;
    height: 6px;
}

.bordaInfDirTexto
{
    background: url('../images/bordaInternaDirInf.png') no-repeat;
    background-position: right bottom;
    width: 6px;
    height: 6px;
}

#divEsqueciMinhaSenha
{
    clear: both;
    margin: 0px;
    padding: 0px;
    text-align: right;
    margin-top: 5px;
    color:#737713;
    float:right;
}

.MyTextBox
{
    border:1px solid #bbccd5;
    background-repeat: no-repeat;
    height: 35px;
    width: 100%;
    overflow: hidden;
    margin: 0 0 47px;
    background:#fff;
}

.MyTextBox06
{
    border:1px solid #bbccd5;
    background-repeat: no-repeat;
    height: 25px;
    width: 280px;
    margin-right:30px;
    overflow: hidden;
    float:left;
    background:#fff;
}

.MyTextBox02
{
    border:1px solid #bbccd5;
    background-repeat: no-repeat;
    height: 25px;
    width: 100%;
    margin-right:10px;
    overflow: hidden;
    float:left;
}

.MyTextBox03
{
    border:1px solid #bbccd5;
    background-repeat: no-repeat;
    height: 25px;
    width: 180px;
    margin-right:5px;
    overflow: hidden;
    float:left;
}

.MyTextBoxLinhas
{
    background-image: url('../images/borda_texto.gif');
    background-repeat: no-repeat;
    height: 25px;
    width: 375px;
    overflow: hidden;
}
.MyTextBox div
{
    height: 25px;
}

.textBoxCadastroIndicado
{
    border:1px solid #c7d5dc; 
    padding:10px 8px;
    font-size: 12px;
    color: #8d8d8d;
    font-family: Museo500, Arial, Tahoma ;
    background-color: #FFFFFF;
}

.MyTextArea
{
    background-image: url('../images/borda_textarea.jpg');
    background-repeat: no-repeat;
    height: 120px;
    width: 575px;
    overflow: hidden;
    padding-left: 5px;
    padding-top: 5px;    
}

.MyTextBox input[type=text], .MyTextBox input[type=password]
{
    font-size: 12px;
    color: #8d8d8d;
    font-family: Museo500, Arial, Tahoma ;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    height: 20px;
    width: 100%;
    padding: 5px;
    background-color: transparent;
}

.MyTextBox02 input[type=text], .MyTextBox02 input[type=password]
{
    font-size: 12px;
    color: #8d8d8d;
    font-family: Museo500, Arial, Tahoma ;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    height: 20px;
    width: 100%;
    padding: 5px;
    background-color: transparent;
}

.MyTextBox06 input[type=text], .MyTextBox02 input[type=password]
{
    font-size: 12px;
    color: #8d8d8d;
    background:#fff;
    font-family: Museo500, Arial, Tahoma ;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    height: 20px;
    width: 100%;
    padding: 5px;
    background-color: transparent;
    float:left;
}

.MyTextBox03 input[type=text], .MyTextBox03 input[type=password]
{
    font-size: 12px;
    color: #8d8d8d;
    font-family: Museo500, Arial, Tahoma ;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    height: 20px;
    width: 100%;
    padding: 5px;
    background-color: transparent;
}

.MyTextArea textarea
{
    border: 0px;
    margin-top: 2px;
    width: 254px;
    height: 112px;
    padding-top: 2px;
    overflow: auto;
    font-size: 12px;
    color: #8d8d8d;
    font-family: Museo500,  Arial, Tahoma ; 
}

.izq
{    
    width: 100%;
    float: left;
    color:#566875;
    font-size:13px;
    font-family: Museo500,  Arial, Tahoma ; 
}

.izq06
{    
    width: 315px;
    padding-top: 5px;
    float: left;
    color:#566875;
    font-size:13px;
    font-family: Museo500,  Arial, Tahoma ; 
}


.izq03
{    
    width: 200px;
    padding-top: 5px;
    height:10px;
    float: left;
    color:#566875;
    font-size:13px;
    font-family: Museo500,  Arial, Tahoma ; 
}

.izq04
{    
    width: 190px;
    padding-top: 5px;
    height:10px;
    float: left;
    color:#566875;
    font-size:10px;
    margin-top:13px;
    font-family: Museo500,  Arial, Tahoma ; 
}

.MyTextBox .izqMaior
{
    padding-left: 10px;
    width: 115px;
    padding-top: 5px;
    float: left;
}

.MyTextArea .izq
{
    padding-left: 10px;
    width: 100px;
    padding-top: 5px;
    float: left;
}

.btncadastrodireto 
{
    width:100%;
    text-align:right;
    display:block;
     background: #b3d0e2 none repeat scroll 0 0;
}

.btntwitter
{
background: #b3d0e2 none repeat scroll 0 0;
    display: block;
    height: 51px;
    padding: 5px;
    text-align: right;
    width: 100%;
}

.textoapoiodireto 
{
    font-size:13px;
    width:100%;
    height:auto;
    margin:0 0 20px 0;
}

.textoapoiodireto02 
{
    font-size:13px;
    width:100%;
    height:auto;
    margin-bottom:30px;
    float:left;
    color:#60676c;
}

.ContenudoCadastro
{
    overflow: hidden;
    font-family: Museo500, Arial, Tahoma ;
    font-size: 12px;
    color: #5d5d5d;
}

.ContenudoCadastro div
{
    //float: left;
    //padding-bottom: 10px;
}
.ContenudoCadastro .right
{
    width: 200px;
    padding-top: 4px;
    padding-left: 12px;
    color:#fff;
}

.ContenudoCadastro .rightIndicacaoPremium
{
    width: 300px;
    padding-top: 4px;
    padding-left: 12px;
}

.ContenudoCadastro .left
{
}

.ContenudoCadastro .left02
{
    width: 200px;
    float:left;
}
.ContenudoCadastro .linha
{
    width: 100%;
    margin-top:30px;
}
.ContenudoCadastro #captcha
{
    width: 600px;
}
.class_derecha
{
    text-align: right;
}

.divLabelMensagem
{
    height: auto;
    padding-bottom: 30px;
    padding-top: 30px;
}

#divFacaSeuLogin
{
    position: absolute;
    margin-top: -24px;
    margin-left: 2px;
    width: 150px;
}

#divErroLogin
{
    position: absolute;
    margin-top: -24px;
    margin-left: 169px;
    width: 150px;
}

.fundoTopoLogadoAdmin
{
    background-repeat: repeat-x;
    width: 100%;
    height: 126px;
}

.fundoTopoLogado
{
    
    background-repeat: repeat-x;
    width: 100%;
}

.fundoTopoLogadopainel
{
    background-image: url(../images/novo/top-paineldeamigos.jpg);
    background-repeat: repeat-x;
    width: 100%;
    border-bottom:1px solid #fff;
    padding:20px 0 20px 0;
}

.topoA
{
    width: 986px;
    height: 136px;
    margin:0 auto;
}

.admin_menu
{
    width: 964px;
    height: 16px;
    padding-top: 2px;
}

.topoA_menu
{
    width: 600px;
    height: 24px;
    text-align: right;
    float: right;
    padding-top: 10px;
    font-family: Museo500, Arial, Tahoma ;
    font-size: 13px;
    color: #323232;
}

.topoA_menu a
{
    font-family: Museo500, Arial, Tahoma ;
    font-size: 13px;
    color: #323232;
    text-decoration: none;
}

.topoA_menu a:hover
{
    color: #323232;
}

.fonteUsuarioLogado
{
    font-family: Museo500, Arial, Tahoma ; 
    font-size: 13px;
    color: #395181;
    text-decoration: none;
}

.fonteMenuAdmin
{
    font-family: Museo500, Arial, Tahoma ;
    font-size: 13px;
    color: #E1E319;
    text-decoration: none;
    font-weight: bold;
}

.fonteMenuAdmin:hover
{
    text-decoration: underline;
}

.topoB
{
    color: #FFF;
}
.topoB_bloq1
{
    width: 450px;
    height: 111px;
    overflow: hidden;
    float: left;
    padding-right: 7px;
}
.topoB_bloq1 div
{
    float: left;
    height: 111px;
}


.topoB_bloq1 .icon
{
    width: 58px;
    height:50px;
    text-align: left;
    float:left;
    margin-top:18px;
    margin-left:20px;
}

.topoB_bloq1 .bloq1_Mid
{
    width: 335px;
    text-align: left;
    float:left;
    margin-top:13px;
}


.fontePainelAmigos
{
    font-family: Museo500, Arial, Tahoma ; 
    font-size: 18px;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}

.fontePainelAmigos:hover
{
    text-decoration: underline;
}

.fontePainelAmigos2
{
    font-family: Museo500, Arial, Tahoma ; 
    font-size: 13px;
    color: #c6d0e4;
}

.fontePainelAmigos3
{
    font-family: Museo500, Arial, Tahoma ; 
    font-size: 11px;
    color: #4a658d;
    margin-top:10px;
}

.topoB_bloq2
{
    width: auto;
    height: 80px;
    overflow: hidden;
    float:right;
    padding-right: 5px;
}
.topoB_bloq2 div
{
    float: left;
    height: 80px;
    margin-top:10px;
}

.topoB_bloq2 .bloq2_Mid
{

    width: 376px;
}

.bloq2_Mid ul
{
    padding-right: 0px;
    padding-left: 0px;
    float: left;
    padding-bottom: 2px;
    margin: 0px 0px;
    width: 100%;
    padding-top: 2px;
    list-style-type: none;
}
.bloq2_Mid li
{
    padding-right: 0px;
    display: inline;
    padding-left: 0px;
    float: left;
    padding-bottom: 5px;
    width: 33%;
    height: 25px;
    padding-top: 5px;
}

.fonteNumero
{
    font-family: Museo700, Arial, Tahoma ;
    font-size: 35px;
    color: #FFFFFF;
    text-align:center;
}

.fonteNumero2
{
    font-family: Museo700,  Arial, Tahoma ; 
    font-size: 16px;
    color: #FFFFFF;
    text-align:center;
}

.topoB_bloq3
{
    width: 191px;
    height: 80px;
    overflow: hidden;
    float: left;
}
.topoB_bloq3 div
{
    float: left;
    height: 80px;
}
.topoB_bloq3 .bloq3_Lef
{
    background-image: url(../images/topoB_bloq3_Lef.gif);
    width: 10px;
}

.topoB_bloq3 .bloq3_Lef_Painel_de_Amigos
{
    background-image: url(../images/topoB_bloq3_Lef_Painel.jpg);
    width: 10px;
}

.topoB_bloq3 .bloq3_Mid
{
    background-image: url(../images/topoB_bloq3_Mid.gif);
    width: 171px;
}

.topoB_bloq3 .bloq3_Mid_Painel_de_Amigos
{
    background-image: url(../images/topoB_bloq3_Mid_Painel.jpg);
    width: 171px;
}

.topoB_bloq3 .bloq3_Rig
{
    background-image: url(../images/topoB_bloq3_Rig.gif);
    width: 10px;
}

.topoB_bloq3 .bloq3_Rig_Painel_de_Amigos
{
    background-image: url(../images/topoB_bloq3_Rig_Painel.jpg);
    width: 10px;
}

.fonteDesconto
{
    font-family: Museo500,Arial, Tahoma ;
    font-size: 14px;
    color: #5288ce;
    text-align:right;
}

.fonteDescontoNumero
{
    font-family: Museo700,  Arial, Tahoma ; 
    font-size: 40px;
    color: #5288ce;
    text-align:right;
}

.fonteIntroducaoDashboard
{
    font-family: Museo500,  Arial, Tahoma ;
    font-size: 16px;
    color: #556780;
}

.fonteTituloDashboard_OLD
{
    font-family: Museo500,  Arial, Tahoma ; 
    font-size: 19px;
    color: #034168;
}

.fonteLinkAba
{
    font-family: Museo500,  Arial, Tahoma ;
    font-size: 15px;
    color: #FFFFFF;
}

fonteLinkAba:hover
{
    color: #034168;
}



.cabeza_A
{
    height: 50px;
    overflow: hidden;
}

.abas
{
    width: 100%;
    margin-left:10px;

}
.abas_left
{
    width: 230px;
}
.abas_left_block
{
    width: 170px;
    height: 79px;

    margin-left: 30px;
    margin-right: 30px;
}
.abas_left_block div
{
    padding: 10px;
    font-size: 19px;
}

#tabsE
{
    float: left;
    width: 100%;
    font-size: 15px;
    line-height: normal;
    text-align: left;
}
#tabsE ul
{
    margin: 0;
    padding: 0px 0px 0px 0px;
    list-style: none;
}
#tabsE li
{
    display: inline;
    margin: 0;
    padding: 0;
}
#tabsE a
{
    float: left;
    margin: 0;
    padding: 0 0 0 2px;
    text-decoration: none;
}
#tabsE a span
{
    float: left;
    display: block;
    height: 62px;
    width: auto;
    padding: 10px 3px 0 3px;
    background: url(../Images/novo/bg-aba-naoselecionada.png);
    background-repeat: repeat-x;
    text-align: center;
    color: #fff;
    font-family: Museo500, Arial, Tahoma ;
    font-size: 14px;
    cursor: hand;
}

#tabsE a:hover span
{
    color: #FFFFFF;
    font-family: Museo500, Arial, Tahoma ; 
    font-size: 14px;
    background: url(../Images/novo/bg-aba-selecionada.png);
    background-repeat: repeat-x;
    cursor: hand;
}

#imgaba 
{
    width:38px; height:38px; float:left; margin-left:6px; 
}

#txtaba 
{
    width:auto; height:18px; float:left; margin-top:13px; margin-left:3px; }
    

#aba1_Dashboard
{
    width: 150px !important;
}

#aba1_A
{
    width: 150px !important;
}

#aba2_A
{
    width: 150px !important;
}

#aba3_A
{
    width: 150px  !important;
}

#aba4_A
{
    width: 150px  !important;
}

#aba5_A
{
    width: 163px  !important;
}

#aba6_A
{
    width: 150px  !important;
}

#aba7_A
{
    width: 161px !important;
}

.abaNaoSelecionada
{
    color: #fff !important;
    background: url(../Images/novo/bg-aba-naoselecionada.png) !important ;
   background-repeat: repeat-x !important;


}

.abaNaoSelecionada:hover
{
    color: #FFFFFF !important;
    background: url(../Images/novo/bg-aba-selecionada.png) !important;
    background-repeat: repeat-x !important;
}

.abaSelecionada
{
    color: #FFFFFF !important;
    background: url(../Images/novo/bg-aba-selecionada.png) !important;
    background-repeat: repeat-x !important;
}

.abas_contenidos
{
    width: 100%;
    background:#dee2e7;

}

#divIndicar 
{
    width:100%;
    height:55px;
    background:#b3d0e2;
    margin:20px 0 0 0;
}

#tableBotaoIndicar 
{
    float:right;
    color:#fff;
    font-family: Museo700, Arial, Tahoma ; 
    font-size:16px;
    height:55px;
    width:150px;
    margin:17px -30px 0 0;
}

#tableBotaoIndicar  a{   
    background:#3094d4;
    padding:18px 30px;
}
#tableBotaoIndicar  a:hover{   
    background:#176aa0;
    text-decoration:none;
}

.fonteTituloDashboard
{  
    width:100%;
    color: #3094d4;
    font-family: Museo700, Arial, Tahoma ; 
    font-size: 18px;
    border-left:20px solid #3094d4;
    padding-left:15px;
    margin-top:30px;
}

.fonteTextoDashboard
{
    color: #333;
    font-family: Museo500, Arial, Tahoma ; 
    font-size: 13px;
    width:100%;
    padding: 20px;
}

.fonteLinkDashboard
{
    color: #034168;
    font-family: Museo500, Arial, Tahoma ; 
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}

.fonteLinkDashboard:hover
{
    text-decoration: underline;
}

.fonteLinkIndicar
{
    font-family: font-family: Museo500, Museo500, Arial, Tahoma ; , Tahoma ; ;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.fonteLinkIndicar:hover
{
    text-decoration: underline;
}

.fonteLinkPublicar
{
    font-family: font-family: Museo500, Museo500, Arial, Tahoma ; , Tahoma ; ;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

.fonteLinkPublicar:hover
{
    text-decoration: underline;
}


.colunaVantagens
{
    border-bottom: 10px solid #FFFFFF;
}

#divQuadroVantagens
{
    padding-top: 32px;
    padding-bottom: 40px;
}

#divBemVindoAdministracao
{
    padding-top: 80px;
    text-align: left;
    height: 120px;
    width: 950px;
}

.fonteTituloUsuarios
{
    font-family: font-family: Museo500, Museo500, Arial, Tahoma ; , Tahoma ; ;
    font-size: 16px;
    color: white;
    background-color: #034168;
}

.fonteTextoUsuarios
{
    color: #60676c;
    font-family: Museo500,  Arial, Tahoma ; 
    font-size: 13px;
}

.abas_right
{
    width: 100%;
    padding-top: 17px;
    font-family: Museo500,  Arial, Tahoma ; 
    font-size: 13px;
    color: #60676cf;
}

.abas_right .conteudo
{
    width: 100%;
    padding:20px 0 0 5px; 
 }
 
.conteudo .numero { width:35px; height:35px; float:left; }
.conteudo .numero02 { width:100%; height:auto; float:left; font-size:14px; font-family:Museo500,  Arial, Tahoma ; color:#5588a8; }
.conteudo .numero03 { width:100%; height:auto; float:left; font-size:14px; font-family:Museo500,  Arial, Tahoma ; color:#93a9c4; }
.conteudo .numero04 {   float: left;
    height: auto;
    margin: 10px 0 40px;
    width: 100%; }

.abas_right p
{
    margin: 5px;
    padding: 0;
}

.abas_right H1
{
    margin: 5px;
    font-size: 16px;
    color: #034167;
}
.abas_right H2
{
    margin: 5px;
    font-size: 16px;
    color: #7F9BAB;
}

.Email_bloq1 ul
{
    padding-right: 0px;
    padding-left: 0px;
    float: left;
    padding-bottom: 2px;
    margin: 0px 0px;
    width: 720px;
    padding-top: 2px;
    list-style-type: none;
}
.Email_bloq1 li
{
    display: inline;
    float: left;
    padding-top: 5px;
    padding-right: 16px;
    padding-bottom: 10px;
    width: 300px;
    height: 250px;
}
.Email_bloq1 div
{
    width: 300px;
    height: 250px;
}

.Email_bloq2 ul
{
    padding-right: 0px;
    padding-left: 0px;
    float: left;
    padding-bottom: 2px;
    margin: 0px 0px;
    width: 100%;
    padding-top: 2px;
    list-style-type: none;
}
.Email_bloq2 li
{
    float: left;
    width: 220px;
    font-family: font-family: Museo500, Museo500, Arial, Tahoma ;
    font-size: 12px;
    color: #034168;
    margin:0 20px 0 0;
}
.Email_bloq2 div
{
    width: 220px;
    height: 100px;
    margin-bottom: 5px;
    background-color: #CBD5DD;
}
.Email_bloq33 div
{
    width: 380px;
    height: 100px;
    margin-bottom: 5px;
    background-color: #CBD5DD;
    left: 10px;
}
.Email_bloq2 div div
{
    width: auto;
    height: auto;
    margin: 5px;
}
.Email_bloq6 {
width:100%;
overflow:hidden;
}

.Email_bloq6 ul
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 2px;
    margin: 20px 0px;
    width: 100%;
    padding-top: 2px;
    list-style-type: none;
}
.Email_bloq6 li
{
    float: left;
    width: 220px;
    height: auto;
    font-family: font-family: Museo500, Museo500, Arial, Tahoma ;
    font-size: 12px;
    color: #034168;
    margin: 0 20px 20px 0;
}
.Email_bloq6 div
{
    width: 800px;
    height: 230px;
}
.Email_bloq7 {
 width:100%;
}
.Email_bloq7 ul
{
    padding-right: 0px;
    padding-left: 0px;
    float: left;
    padding-bottom: 2px;
    margin: 20px 0px;
    width: 100%;
    padding-top: 0px;
    list-style-type: none;
}
.Email_bloq7 li
{
    float: left;
    width: 220px;
    font-family: Museo500,  Arial, Tahoma ; 
    font-size: 12px;
    color: #034168;
    margin:0 20px 0 0;
}
.Email_bloq7 div
{
    width: 220px;
    height: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #CBD5DD;
}
.Email_bloq7 div div
{
    width: auto;
    height: auto;
    margin: 5px;
}

.barraPreview
{
    width: 692px;
    height: 45px;
    float: left;
    background-color: #9CB0C0;
    margin-bottom: 20px;
}
.barraPreview div
{
    width: 120px;
    height: 45px;
    float: right;
    background-color: #507994;
    margin-right: 20px;
    text-align: center;
}

.linkPreview:link
{
    text-decoration: none;
    color: #FFF;
}
.linkPreview:visited
{
    text-decoration: none;
    color: #FFF;
}
.linkPreview:active
{
    text-decoration: none;
    color: #FFF;
}
.linkPreview:hover
{
    text-decoration: none;
    color: #E1E319;
}

.Email_bloq3 ul
{
    padding-right: 0px;
    padding-left: 0px;
    float: left;
    padding-bottom: 2px;
    margin: 0px 0px;
    width: 720px;
    padding-top: 2px;
    list-style-type: none;
}
.Email_bloq3 li
{
    display: inline;
    float: left;
    padding-right: 15px;
    width: 220px;
    padding-top: 5px;
}
.Email_bloq3 div
{
    width: 220px;
    height: 80px;
}

.Twitter_bloq1 ul
{
    padding-right: 0px;
    padding-left: 0px;
    float: left;
    padding-bottom: 2px;
    margin: 0px 0px;
    width: 720px;
    padding-top: 2px;
    list-style-type: none;
}
.Twitter_bloq1 li
{
    display: inline;
    float: left;
    padding: 10px;
    width: 220px;
    padding-top: 5px;
}
.Twitter_bloq1 div
{
    width: 220px;
    height: 100px;
    margin-bottom: 5px;
    background-color: #CBD5DD;
}
.Twitter_bloq1 div div
{
    width: auto;
    height: auto;
    margin: 5px;
}

.Email_bloq4
{
    width: 692px;
    background-color: #CBD5DD;
    float: left;
    margin-top: 20px;
}
.Email_bloq4_left
{
    width: 30%;
    float: left;
    text-align: center;
}
.Email_bloq4_right
{
    width: 70%;
    float: right;
}
.Email_bloq4_Inputs
{
    background-image: url(../images/borde_text.gif);
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 15px;
    font: font-family: Museo500, Museo500, Arial, Tahoma ; , Tahoma ; , Helvetica, sans-serif;
    font-size: 14px;
}
.Email_bloq4_Inputs input[type=text], .Email_bloq4_Inputs input[type=password]
{
    font-size: 12px;
    color: #8d8d8d;
    font-family: font-family: Museo500, Museo500, Arial, Tahoma ; , Tahoma ; ;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    height: 20px;
    background-color: transparent;
    width: 230px;
}
.Email_bloq4_InputsL
{
    width: 10%;
    float: left;
    padding-top: 5px;
    padding-left: 15px;
    font-family: font-family: Museo500, Museo500, Arial, Tahoma ; , Tahoma ; ;
    font-size: 12px;
    color: #5c7280;
}
.Email_bloq4_InputsR
{
    width: 50%;
    float: right;
    padding-top: 4px;
}

.Email_bloq4_InputsRR
{
    width: 35%;
    float: right;
    padding-top: 4px;
    padding-left: 5px;
}

.Email_bloq5
{
    width: 692px;
    background-color: #CBD5DD;
    float: left;
    padding-bottom: 15px;
}

#divCadastroIndicado
{
    background: url('../images/topoCadastroIndicado.jpg') no-repeat;
    width: 974px;
    height: 403px;
}

.tituloCadastroIndicado
{
    color: #43bacf;
    font-family: Museo500, Arial, Tahoma ;
    font-size: 20px;
    margin:30px 12px 0 12px;
}


.tituloIndicacoes
{
    font-family: Museo500,  Arial, Tahoma ;
    font-size: 16px;
    color: #809bac;
}

.erroLoginEmail
{
    width: 350px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fonteListaContatos
{
    background-color: #FFFFFF;
    font-family: font-family: Museo500, Museo500, Arial, Tahoma ; , Tahoma ; ;
    font-size: 12px;
    color: #000000;
}

.listaContatos
{
    width: 450px;
    height: 371px;
    margin-right: 7px;
    overflow: auto;
    background-color: #ffffff;
}

.fonteExemplo
{
    bottom: 28px;
    color: #8d8d8d;
    font-style: italic;
    margin-left: 0;
    margin-top: -16px;
    position: absolute;
}

.fonteExemploAdmin
{
    color: #8d8d8d;
    padding-left: 8px;
    padding-bottom: 6px;
    font-style: italic;
}

.fonteTituloPainelDeAmigos
{
    color: #4b4b4b;
    font-size: 13px;
    text-align: center;
    line-height:50px;
}

.fonteTextoPainelDeAmigos
{
    color: #4b4b4b;
    font-family: Museo700, Arial, Tahoma ; 
    font-size: 14px;
    text-align: center !important;
    width: 135px !important;
}

.fonteTextoPainelDeAmigosPrimeiraColuna
{
    color: #4b4b4b;
    font-family:Museo700,  Arial, Tahoma ; 
    font-size: 13px;
    width: 135px !important;
    padding-left: 10px;
    text-align: left;
}

.fonteTextoPainelDeAmigos2
{
    color: #4b4b4b;
    font-family: Museo500,  Arial, Tahoma ;
    font-size: 12px;
    text-align: center !important;
}

.fundoPainelDeAmigos1
{
    background-color: #efefef;
    border-right: 1px solid #fff;
    height: 40px;;
}

.fundoPainelDeAmigos2
{
    background-color: #efefef;
    border-right: 1px solid #fff;
    height: 40px;
}

.fundoPainelDeAmigos3
{
    background-color: #efefef;
    height: 40px;
}

.fundoListaDeAmigos
{
    border-bottom:1px solid #fff !important;
}

.black_overlay
{
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #000;
    filter: alpha(opacity=60);
    opacity: 0.5;
    display: none;
    z-index: 1000;
    width: 100%;
    height: 100%;
}

.white_content
{
    display: none;
    position: absolute;
    top: 75%;
    left: 25%;
    width: 50%;
    height: 70%;
    padding: 16px;
    border: 5px solid #034168;
    background-color: white;
    z-index: 1002;
    overflow: auto;
    text-align: center;
}

.white_content2
{
    display: none;
    position: absolute;
    top: 75%;
    left: 25%;
    width: 50%;
    height: 85%;
    padding: 16px;
    border: 5px solid #034168;
    background-color: white;
    z-index: 1002;
    overflow: auto;
    text-align: center;
}

.textoIntroducaoCadastroIndicado
{
    font-size: 12px;
    color: #5d5d5d;
    font-family: Museo500, Arial, Tahoma ; 
    padding-left: 20px;
    width:840px;
    margin-bottom:30px;
}




.divSelecioneTodos
{
    padding-left: 3px;
    padding-bottom: 4px;
    float: none !important;
}

.fonteObservacaoRodape
{
    color: #999999;
    font-size: 10px;
    font-family: font-family: Museo500, Museo500, Arial, Tahoma ; , Tahoma ; ;
}

.divRodapeObservacaoRodape {
    padding: 20px;
    text-align: center;
    width: 100%;
}

.imagemAbaIndicacao
{
    margin-left: 16px;
    margin-right: 36px;
}

.imagemEmail
{
    padding-top: 6px;
}

.divRegulamento
{
    height: 300px;
    width: 865px;
    overflow: auto;
    float:left;
    padding:15px;
    background-color: #FFFFFF;
}

.fonteCIResultado
{
    font-family: font-family: Museo500, Museo500, Arial, Tahoma ; , Tahoma ; ;
    font-size: 20px;
    color: #0089c0;
}

.divCIResultado
{
    width: 970px;
    padding-top: 70px;
    padding-bottom: 100px;
}

.filtrar_box
{
    margin:10px;
    }
    
.filtrar_box span
{
    
    color: #8d8d8d;
    font-family: font-family: Museo500, Museo500, Arial, Tahoma ; , Tahoma ; ;
    font-size: 14px;
    }  

.btn_filtrar
{
    border:0;
    margin:0;
    padding:0;
    background:url(../images/btnFiltrar.gif) no-repeat 0 0;
    width:97px;
    height:29px;
     
    }
.fundoTexbox
{
    border:0;
    margin:0;
    padding:0 0 0 10px;
    background:url(../images/fundoTextbox.gif) no-repeat 0 0;
    width:156px;
    height:25px;
    line-height:25px;
    font-family:font-family: Museo500, Museo500, Arial, Tahoma ; , Tahoma ; ;
    }
.btn_enviar
{
    border:0;
    margin:0;
    padding:0;
    background:url(../images/btnEnviar.gif) no-repeat 0 0;
    width:97px;
    height:29px;
     
}
.btn_salvar
{
    border:0;
    margin:0;
    padding:0;
    background:url(../images/btnSalvar.jpg) no-repeat 0 0;
    width:97px;
    height:29px;
     
}

.head 
{
    margin-bottom:20px;
}

.mensagem02 
{
    margin:20px;
}

.visualizasenha 
{
    padding:20px 10px;
    background:#ededed;
    color:#f00;
    font-weight:bold;
    font-size:13px;
    margin:15px 0;
}