
.bodybg{background:#fff;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
     font-size:11px;color:#333;margin:0;padding:0;text-align:left;direction:ltr;
     unicode-bidi:embed;z-index:9999;position:relative;float:left;display:none}
     .closepop{position:absolute;right:0px;z-index:99999}
.auto_resize_iframe{height:auto}
h4, h5{font-size:11px}
label{cursor:pointer;color:#666;font-weight:bold;vertical-align:middle}
label input{font-weight:normal}
textarea,
.inputtext,
.inputpassword{border:1px solid #bdc7d8;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:11px;padding:3px}
.inputtext,
.inputpassword{margin:0;*margin:-1px 0;padding-bottom:4px}
.ff3.mac .inputtext,
.ff3.mac .inputpassword{padding-bottom:3px}
.inputradio{padding:0;margin:0 5px 0 0;vertical-align:middle}
.inputcheckbox{border:0;vertical-align:middle}
.inputbutton,
.inputsubmit{border-style:solid;border-width:1px;border-color:#d9dfea #0e1f5b #0e1f5b #d9dfea;background-color:#3b5998;color:#fff;padding:2px 15px 3px 15px;text-align:center;*width:1;*overflow:visible;*padding:2px 15px}
.inputsubmit_disabled{background-color:#999;border-bottom:1px solid #000;border-right:1px solid #666;color:#fff}
.inputaux{background:#f0f0f0;border-color:#e7e7e7 #666 #666 #e7e7e7;color:#000}
.inputaux_disabled{color:#999}
.inputsearch{background:#fff url(/rsrc.php/zA4IG/hash/cny9pytx.png) no-repeat left 4px;padding-left:17px}
.datawrap{word-wrap:break-word}
.word_break{display:block;float:left;float:none\9;*float:left;margin-left:-10px;padding:0}
.img_loading{position:absolute;left:-100000px;top:-100000px}
.two_column .right,
.two_column .left{float:left}
.no_padding{padding:0}
.see_all{text-align:right}
.standard_status_element{visibility:hidden}
.standard_status_element.async_saving{visibility:visible}
.clickable{cursor:pointer}
.aero{opacity:.5;filter:alpha(opacity=50)}
input.request_form_submit{background:#3B5998 url(/rsrc.php/zDIPV/hash/6s9bbe8i.gif) no-repeat 8px 6px;padding:3px 6px 3px 26px;*overflow:visible;*background-position:8px 5px;*padding:3px 6px 3px 30px}
img.tracking_pixel{height:1px;position:absolute;visibility:hidden;width:1px}
.fbsmid{display:none}
#dropmenu_container{display:block;height:0;margin:0 auto;padding:0;position:absolute;width:964px;z-index:105}


.pop_content h2 span{display:block;padding:5px 10px}
.pop_content .dialog_content{background:#fff;border:1px solid #555;border-top-width:0}
.pop_content .dialog_content_bottom{background:#fff;border:1px solid #555;border-top-width:0;float:left;width:620px}
.pop_content .dialog_body{padding:10px;border-bottom:1px solid #ccc}
.omitDialogFooter .pop_content .dialog_body{border-bottom:0}
.pop_content .dialog_summary{background:#f2f2f2;padding:8px 10px;border-bottom:1px solid #ccc}
.pop_content .dialog_buttons{background:#f2f2f2;padding:8px 10px 8px 10px;position:relative;text-align:right}
.pop_content .dialog_buttons_msg{float:left;line-height:17px;padding-top:4px}
.pop_content .dialog_footer{background:#F2F2F2 none repeat scroll 0}
.full_bleed .pop_content .dialog_body{padding:0}
.UIImageBlock_Content{display:table-cell;_display:block;vertical-align:top;width:1000px;*width:auto;*zoom:1}
.UIImageBlock_Image{float:left;margin-right:5px}
.UIImageBlock_Image .img,
img.UIImageBlock_Image,
i.UIImageBlock_Image{display:block}
.UIImageBlock_Ext{float:right}
.UIImageBlock_ICON_Image{margin-right:5px}
.UIImageBlock_ICON_Content{padding-top:1px}
.UIImageBlock_SMALL_Image{margin-right:8px}
.UIImageBlock_MED_Image,
.UIImageBlock_ENT_Image{margin-right:10px}
.UIImageBlock_Entity .UIImageBlock_Content{height:50px;*height:auto;vertical-align:middle}
.UIImageBlock_Entity img.UIImageBlock_Image,
.UIImageBlock_Entity i.UIImageBlock_Image,
.UIImageBlock_Entity .UIImageBlock_Image .img{height:50px;width:50px}
.UIImageBlock_Entity .UIImageBlock_Ext{margin-top:14px;padding-left:8px}
.uiButton,
.uiButtonSuppressed:active,
.uiButtonSuppressed:focus,

.ff3.mac .uiButtonMedium{padding-bottom:1px}
.uiButton + .uiButton{margin-left:4px}
a.uiButtonMedium{*padding:3px 6px 4px}
.uiButton:hover{text-decoration:none}
.uiButton:active,
.uiButtonDepressed{background:#ddd;border-bottom-color:#999;box-shadow:0 1px 0 rgba(0, 0, 0, .05);-moz-box-shadow:0 1px 0 rgba(0, 0, 0, .05);-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .05)}
.uiButton .img{vertical-align:top}
.uiButtonMedium .img{margin-top:2px;*margin-top:1px;*margin-bottom:-2px}
.uiButtonLarge .img{margin-top:4px;*margin-top:5px}
.uiButton .customimg{margin-top:0;*margin-top:-1px}
.uiButton .uiButtonText,
.uiButton input{background:none;border:0;color:#333;cursor:pointer;display:-moz-inline-box;display:inline-block;font-family:'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;font-size:11px;font-weight:bold;margin:0;outline:none;*overflow:visible;padding:1px 0 2px;*padding:0;white-space:nowrap;_width:0}
.uiButton input::-moz-focus-inner{border:0;padding:0}

.uiButtonDepressed,
.uiButtonDepressed input{cursor:default}
.uiButtonSpecial{background-color:#69a74e;background-position:0 -96px;border-color:#3b6e22 #3b6e22 #2c5115;color:#fff}
.uiButtonSpecial:active{background:#609946;border-bottom-color:#3b6e22}
.uiButtonSpecial.uiButtonDisabled,
.uiButtonSpecial.uiButtonDisabled:active{background:#69a74e;border-bottom-color:#3b6e22}

.uiButtonConfirm:active{background:#4f6aa3;border-bottom-color:#29447e}
.uiButtonConfirm.uiButtonDisabled,
.uiButtonConfirm.uiButtonDisabled:active{background:#5b74a8;border-bottom-color:#29447e}
.uiButtonSpecial .uiButtonText,
.uiButtonConfirm .uiButtonText,
.uiButtonSpecial input,
.uiButtonConfirm input{color:#fff}
.uiButtonDisabled,
.uiButtonDisabled:active,
.uiButtonDisabled .img{background:#f2f2f2;cursor:default;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity = 50)";filter:alpha(opacity = 50);opacity:.5;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none}
.uiButtonDisabled input{cursor:default}
.uiButtonDefault.uiButtonDisabled,
.uiButtonDefault.uiButtonDisabled:active{border-color:#c8c8c8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity = 100)";filter:alpha(opacity = 100);opacity:1}
.uiButtonDefault.uiButtonDisabled input,
a.uiButtonDisabled .uiButtonText{color:#b8b8b8}
.uiButtonLarge,
.uiButtonLarge .uiButtonText,
.uiButtonLarge input{font-size:13px}
.uiButtonLarge{padding:2px 6px;*padding:1px 6px 2px}
a.uiButtonLarge{*padding:3px 6px 4px}
.pop_container_fb{}
.pop_content h2.dialog_title{background:#6d84b4;border:1px solid #3b5998;border-bottom:none;color:#fff;font-size:14px;font-weight:bold;margin:0;width:620px}
.uiButtonConfirm{background-color:#5b74a8;background-position:0 -48px;border-color:#29447e #29447e #1a356e;color:#fff}
.headframe{background-color:#405481;color:White}
.small_containers{background:rgba(226,232,244,1.7);padding:6px;-moz-border-radius:8px;-webkit-border-radius:8px}
